@page

@using HD.Profiles.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProfilesResource> Localizer

@model HD.Profiles.Web.Pages.Employees.DetailModel
@{
    var currentUrl = $"{Request.PathBase}{Request.Path}{Request.QueryString}";
    var backUrl = Model.BackUrl;
}


<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">@Model.Employee.Name</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a class="btn btn-sm btn-primary" href="@Url.Page("Edit", new { backUrl = currentUrl, id=Model.Employee.Id })"><i class="mdi mdi-account-edit"></i> @Localizer["Edit"]</a>

        <a href="@Html.Raw(Model.BackUrl)" class="btn btn-sm btn-secondary">
            <span class="mdi mdi-keyboard-return"></span> @Localizer["Back"]
        </a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xxl-4">
        <div class="card text-center">
            <div class="card-body">
                <img src="/assets/images/users/avatar-1.jpg" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">

                <h4 class="mb-0 mt-2">@Model.Employee.Name</h4>
                <p class="text-muted font-14">@Model.Employee.JobTitle?.Name</p>

                <div class="text-start mt-3">
                    <p class="text-muted mb-2 font-13">
                        <strong>Employee ID:</strong> <span class="ms-2">
                            @Model.Employee.Code
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Job Position :</strong> <span class="ms-2">
                            <a href="#">Director</a> tại <a href="#">WhatsSoft</a>
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Status :</strong> <span class="ms-2">
                            Official
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>On board :</strong><span class="ms-2">
                            @Model.Employee.DateOfOnboard.ToString("dd/MM/yyyy")
                        </span>
                    </p>
                </div>
                <hr />

                <div class="text-start mt-3">
                    <h4 class="font-13 text-uppercase">About Me :</h4>
                    <p class="text-muted font-13 mb-3">
                        Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type.
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Name :</strong> <span class="ms-2">
                            @Model.Employee.Name
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Gender :</strong> <span class="ms-2">
                            Profile.Gender
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Phone Number :</strong> <span class="ms-2">
                            @Model.Employee.Mobile
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Email :</strong> <span class="ms-2">
                            @Model.Employee.Email
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Tax Number :</strong> <span class="ms-2">
                            Profile.Tax
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Date of Birth :</strong><span class="ms-2">
                            Profile.DateOfBird
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13">
                        <strong>Marital Status :</strong><span class="ms-2">
                            Profile.MaritalStatus
                        </span>
                    </p>
                </div>

                <hr />

                <div class="text-start mt-3">
                    <h4 class="font-13 text-uppercase">Permanent Address</h4>
                    <p class="text-muted font-13 mb-3">
                        14 Alley 18, Vo Van Dung Street, O Cho Dua Ward, Dong Da District, Hanoi
                    </p>
                    <h4 class="font-13 text-uppercase">Current Address</h4>
                    <p class="text-muted font-13 mb-3">
                        14 Alley 18, Vo Van Dung Street, O Cho Dua Ward, Dong Da District, Hanoi
                    </p>
                </div>
                <ul class="social-list list-inline mt-3 mb-0">
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github"></i></a>
                    </li>
                </ul>
            </div> <!-- end card-body -->
        </div>
    </div><!-- end col-->

    <div class="col-xxl-8">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#nhansu" data-bs-toggle="tab" aria-expanded="false" class="nav-link active rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Human Resources</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#congtac" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Work Assignments</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#daotao" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Training</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#baohiem" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Recuiment History</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- tab nhan su -->
                    <div class="tab-pane show active" id="nhansu">
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-bank mr-1"></i> Bank Account</h5>
                        <div class="row">
                            <div class="col-4">
                                <div class="border rounded p-2 mb-2">
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item font-16 fw-semibold"><a href="javascript:void(0);" class="text-secondary">Salary Account</a></li>
                                    </ul>
                                    <p class="text-muted mb-0">23124124134</p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-bank"></i> <b>Vietcombank</b></p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-account"></i> <b>@Model.Employee.Name</b></p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border rounded p-2 mb-2">
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item font-16 fw-semibold"><a href="javascript:void(0);" class="text-secondary">Personal Account</a></li>
                                    </ul>
                                    <p class="text-muted mb-0">12344556</p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-bank"></i> <b>Teckcombank</b></p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-account"></i> <b>@Model.Employee.Name</b></p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-dashed border-2 border rounded p-2 mb-2 d-flex align-items-center justify-content-center">
                                    <a href="javascript:void(0);" class="text-center text-muted p-2" data-bs-toggle="modal" data-bs-target="#CreateProject">
                                        <i class="mdi mdi-plus h3 my-0"></i> <h4 class="font-16 mt-1 mb-0 d-block">Add New</h4>
                                    </a>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-calculator-variant-outline mr-1"></i> Documents</h5>
                        <div class="row">
                            <div class="col-4">
                                <div class="border rounded p-2 mb-2">
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item font-16 fw-semibold"><a href="javascript:void(0);" class="text-secondary">Citizen Identification Card</a></li>
                                    </ul>
                                    <p class="text-muted mb-0">23124124134</p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-home"></i> <b>Hamlet 10, Quynh Lam Commune, Quynh Luu, Nghe An</b></p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-account"></i> <b>@Model.Employee.Name</b></p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-calendar"></i> <b>20/01/2008</b></p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border rounded p-2 mb-2">
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item font-16 fw-semibold"><a href="javascript:void(0);" class="text-secondary">Identity Card</a></li>
                                    </ul>
                                    <p class="text-muted mb-0">23124124134</p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-home"></i> <b>Hamlet 10, Quynh Lam Commune, Quynh Luu, Nghe An</b></p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-account"></i> <b>@Model.Employee.Name</b></p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-calendar"></i> <b>20/01/2008</b></p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-dashed border-2 border rounded p-2 mb-2 d-flex align-items-center justify-content-center">
                                    <a href="javascript:void(0);" class="text-center text-muted p-2" data-bs-toggle="modal" data-bs-target="#CreateProject">
                                        <i class="mdi mdi-plus h3 my-0"></i> <h4 class="font-16 mt-1 mb-0 d-block">Add New</h4>
                                    </a>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-card-account-details mr-1"></i> Family Information</h5>
                        <div class="table-responsive">
                            <table class="table table-borderless table-nowrap mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Relationship</th>
                                        <th>Phone Number</th>
                                        <th>ID Number</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Ava White</td>
                                        <td>Wife</td>
                                        <td>0982223333</td>
                                        <td>123445565</td>
                                        <td>14/18 Võ Văn Dũng</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Chloe Robinson</td>
                                        <td>Son</td>
                                        <td>0982223333</td>
                                        <td>123445565</td>
                                        <td>14/18 Võ Văn Dũng</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24">Hannah Parker </td>
                                        <td>Mother</td>
                                        <td>0982223333</td>
                                        <td>123445565</td>
                                        <td>14/18 Võ Văn Dũng</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                           
                    </div>
                    <!-- end about me section content -->
                    <div class="tab-pane" id="congtac">
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i> Work Experience</h5>
                        <div class="timeline-alt pb-0">
                            <div class="timeline-item">
                                <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <h5 class="mt-0 mb-1">Business Analyst Specialist</h5>
                                    <p class="font-14">Department: NDU6 <span class="font-12">Period: 01/01/2022 - Present</span></p>
                                    <p class="text-muted">According to decision number QD/123455</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <h5 class="mt-0 mb-1">Business Analyst</h5>
                                    <p class="font-14">Department: NDU6 <span class="font-12">Period: 01/01/2021 - 31/12/2021</span></p>
                                    <p class="text-muted">According to decision number QD/123455</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <h5 class="mt-0 mb-1">Business Analysis</h5>
                                    <p class="font-14">Department: NDU6 <span class="font-12">Period: 01/01/2020 - 31/12/2020</span></p>
                                    <p class="text-muted">According to decision number QD/123455</p>
                                </div>
                            </div>
                        </div>
                        <!-- end timeline -->
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-script-text-outline mr-1"></i> Contract</h5>
                        <div class="table-responsive">
                            <table class="table table-borderless table-nowrap mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Contract No.</th>
                                        <th>Full Name</th>
                                        <th>Position</th>
                                        <th>Contract Type</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>HD123455</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> @Model.Employee.Name</td>
                                        <td>Software Developer</td>
                                        <td>Indefinite Term</td>
                                        <td><a href="#" class="badge bg-success">Running</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-hammer mr-1"></i> Decision</h5>
                        <div class="table-responsive">
                            <table class="table table-borderless table-nowrap mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Issuer</th>
                                        <th>Decision Type</th>
                                        <th>Decision No.</th>
                                        <th>Approval Level</th>
                                        <th>Signing Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Richard Carter</td>
                                        <td>Salary Adjustment</td>
                                        <td>KT123455</td>
                                        <td>Company</td>
                                        <td>01/01/2020</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Richard Carter</td>
                                        <td>Salary Adjustment</td>
                                        <td>KT123455</td>
                                        <td>Company</td>
                                        <td>01/01/2020</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img src="/assets/images/users/avatar-1.jpg" alt="table-user" class="mr-2 rounded-circle" height="24"> Richard Carter</td>
                                        <td>Commendation</td>
                                        <td>KT123455</td>
                                        <td>Company</td>
                                        <td>01/01/2020</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- end timeline content-->
                    <div class="tab-pane" id="daotao">
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-certificate mr-1"></i> Degrees</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-centered mb-0 font-14">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Degree</th>
                                        <th>Major</th>
                                        <th>Grade</th>
                                        <th>Graduation Year</th>
                                        <th>University</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Bachelor's</td>
                                        <td>Information Technology</td>
                                        <td>Good</td>
                                        <td>2012</td>
                                        <td>Polytechnic University</td>
                                        <td class="d-flex justify-content-end">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-school mr-1"></i> Courses</h5>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Type</th>
                                        <th>Content &amp; Duration</th>
                                        <th>Format</th>
                                        <th>Location</th>
                                        <th>Organizer</th>
                                        <th>Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Certification Exam</td>
                                        <td>
                                            SAP Certified Application Associate - SAP S/4HANA for Management Accounting Associates (SAP S/4HANA 1909)
                                            <p>From August 6 - 10, 2022</p>
                                        </td>
                                        <td>Online</td>
                                        <td></td>
                                        <td>SAP</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Course</td>
                                        <td>
                                            Financial Reporting Training under IFRS Standards
                                            <p>From August 6 - 10, 2022</p>
                                        </td>
                                        <td>In-person</td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Course</td>
                                        <td>
                                            Internal Training on BPC System
                                            <p>From August 6 - 10, 2022</p>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- tab bao hiem-->
                    <div class="tab-pane" id="baohiem">
                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-clipboard-list mr-1"></i> Onboarding Procedures</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-centered mb-0 font-14">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Task Name</th>
                                        <th>PIC</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Send Interview Invitation Email</td>
                                        <td>
                                            Emma Foster
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Completed</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Send Offer Letter</td>
                                        <td>
                                            Emma Foster
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Completed</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Send Job Invitation Letter</td>
                                        <td>
                                            Emma Foster
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Completed</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Send Orientation Training Information to Candidate</td>
                                        <td>
                                            Emma Foster
                                        </td>
                                        <td>
                                            <a href="#" class="badge bg-success">Completed</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-account-group mr-1"></i> Recruitment Committee</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-centered mb-0 font-14">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Richard Carter</td>
                                        <td>CEO</td>
                                        <td>
                                            Answers questions about company policies, salaries, and benefits
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Daniel Lawson</td>
                                        <td>CTO</td>
                                        <td>
                                            Conducts technical interviews
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ethan Mitchell</td>
                                        <td>Developer</td>
                                        <td>
                                            Observer
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                        <h5 class="mb-2 text-uppercase bg-light p-2"><i class="mdi mdi-clipboard-account mr-1"></i> CV</h5>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>CV Name</th>
                                        <th>Source</th>
                                        <th>Application Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            Candidate CV.pdf
                                        </td>
                                        <td>Vietnamwork.com.vn</td>
                                        <td>20/12/2021</td>
                                        <td>
                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-link text-muted btn-lg p-0" data-original-title="Download">
                                                <i class="uil uil-cloud-download"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end settings content-->
                </div> <!-- end tab-content -->
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>