@page
@using HD.Profiles.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ProfilesResource> Localizer
@model HD.Profiles.Web.Pages.Organizations.PositionDetailModel
@{
    var currentUrl = $"{Request.PathBase}{Request.Path}{Request.QueryString}";
    var backUrl = Model.BackUrl;
}
<div class="row">
   <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">@Model.Form.Job.Name</a></li>
                    <li class="breadcrumb-item active">@Model.Form.Name</li>
                </ol>
            </div>
            <h4 class="page-title">Vị trí @Model.Form.Name</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-account-plus"></i> Appoint
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="mdi mdi-account-remove"></i> Dismiss</a>
            <a class="dropdown-item" href="#"><i class="mdi mdi-account-search"></i> Recruitment Request</a>
        </div>
        <a class="btn btn-sm btn-secondary" href="@Url.Page("PositionEdit", new { backUrl = currentUrl, id=Model.Form.Id })"><i class="mdi mdi-account-edit"></i> @Localizer["Edit"]</a>

        <a href="@Html.Raw(Model.BackUrl)" class="btn btn-sm btn-secondary">
            <span class="mdi mdi-keyboard-return"></span> @Localizer["Back"]
        </a>
        <a class="btn btn-sm btn-danger float-end" href="javascript:void(0);" onclick="openDangerModal(this)" url="@Url.Page("PositionRemove", new { backUrl, id=Model.Form.Id })"><i class="mdi mdi-delete"></i> @Localizer["Delete"]</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-3">Job Description</h4>
                @{
                    @if (!string.IsNullOrEmpty(Model.Form.Job.Description))
                    {
                        <p class="text-muted font-13">
                            @Model.Form.Job.Description
                        </p>
                        <hr>
                    }
                    else
                    {
                        <p class="text-muted font-13">
                            Job description for this position
                        </p>
                        <hr>
                    }
                }
                <h4 class="header-title mt-0 mb-3">Job Requirements</h4>
                @{
                    if (!string.IsNullOrEmpty(Model.Form.Job.Description))
                    {
                        <p class="text-muted font-13">
                            @Model.Form.Job.Requirement
                        </p>
                        <hr>
                    }
                    else
                    {
                        <p class="text-muted font-13">
                            Job requirements for this position
                        </p>
                        <hr>
                    }
                }
                <div class="text-start">
                    <p class="text-muted"><strong>Unit: </strong> <i class="float-end">@Model.Form.Organization.Name </i></p>
                    <p class="text-muted">
                        <strong>Status: </strong>
                        <span class="badge bg-danger float-end">Resigned</span>
                        <span class="badge bg-warning me-2 float-end">Recruiting</span>
                        <span data-bs-toggle="tooltip" data-bs-title="Effective from 01/01/2023-31/12/2023" class="badge bg-success me-2 float-end" title="">Appointed</span>
                    </p>

                    @{
                        if (Model.Form.EmployeeId.HasValue)
                        {
                            <p class="text-muted"><strong>In Charge: </strong> <a target="_blank" href="/Employees/Detail?id=@Model.Form.EmployeeId" class="ms-2 float-end">Lê Văn Thành </a></p>
                        }
                        else
                        {
                            <p class="text-muted"><strong>In Charge: </strong> <a href="javascript:void(0);" onclick="openlangerModal(this)" url="@Url.Page("Appoint", new { backUrl=currentUrl, id=Model.Form.Id })" class="float-end"><i class="mdi mdi-open-in-new"></i></a> <i class="me-2 float-end">@Localizer["not assigned"] </i></p>
                        }
                    }

                    @{
                        if (Model.Form.DecisionId.HasValue)
                        {
                            <p class="text-muted"><strong>Decision: </strong> <a target="_blank" href="/Decision/Detail?id=@Model.Form.DecisionId" class="ms-2 float-end">Decision No. QD123456 </a></p>
                        }
                        else
                        {
                            <p class="text-muted"><strong>Decision: </strong>  <i class="me-2 float-end">Not available</i></p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">
                    Salary - Compensation for this position
                </h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">
                    Candidates - Applicants for this position
                </h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">
                    Decisions - Related decisions for this position
                </h4>
            </div>
        </div>
    </div>
</div>